.bg, .bg:active, .bg:focus, .bg:hover {
    background-color: var(--Input-bg-color);
    border: 0;
    color: var(--Text-color);
    font-weight: bold;
}
.bgRed, .bgRed:focus, .bgRed:active, .bgRed:hover{
    background-color: var(--Btn-reset-del-color) !important;
}
.bg::placeholder{
    font-weight: normal;
    color: var(--Placeholder-text-color);
}
.width{
    width:100%;
}
@media (max-width: calc(999.8px)){
    .width{
        width: 100%;
    }
}